<form class="ui stacked segment form" action="/dashboard/addcreature" method="POST" enctype="multipart/form-data">

  <div class="three fields">
    
    <div class="field">
      <label>Sea Creature Name!</label>
      <input placeholder="Name" type="text" name="title" autofocus required>
    </div>
    
    <div class="field">
      <label>Rating</label>
      <input placeholder="Rating" type="number" name="rating" required>
    </div>
    
    <div class="field">
      <label>Image</label>
      <input placeholder="Image" type="file" name="picture" required>
    </div>
    
  </div>

  <button class="ui teal submit button">Add Sea Creature</button>

</form>
