<form class="ui stacked segment form" action="/creature/{{id}}/addsong" method="POST">
  <div class="two fields">
    <div class="field">
      <label>Fact</label>
      <input type="text" name="title" autofocus required title = "Please include a valid Title"
	  placeholder="Fact">
    </div>
    <div class="field">
      <label>Source of Information</label>
      <input type="text" name="artist" required title = "Please include a valid Artist"
	  placeholder="Source of Information"  >
    </div>
  </div>
  <button class="ui blue submit button">Add Fact</button>
</form>
