{{> welcomemenu }}

<section class="ui center aligned middle aligned segment">
  <p> Welcome to the Sea Creatures App KNOW YOUR SEA CREATURES! Feel free to sign up or log in to start keeping track of your sea creatures! </p>
  <img src = "/turtles.jpg" class = "ui centered image">
  <br>
    <br>
      
</section>

